 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>Site Haritası</strong>
                </h5>
                <hr />
                <p>
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span> Hakkmızda</a><br />
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5>
                    <strong>MyToDo</strong>
                </h5>
                <hr />
                <p>
                    Tüm hakları saklıdır &copy;<br />
                    MyToDo @DateTime.Now.Year
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5>
                    <strong>E-Bültek Üyeliği</strong>
                </h5>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    <p>
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    </p>
                    
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
